<img src={{responseFromAPI.image_url}} alt="beer image">

<p>
    {{responseFromAPI.name}}
     {{responseFromAPI.tagline}}
    {{responseFromAPI.description}}
    {{responseFromAPI.food_pairing}}
    {{responseFromAPI.brewers_tips}}
</p>

